* {
    margin: 0;
    padding: 0;
    /* font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif; */
}

a {
    text-decoration: none;
}

/* header */

header .banner {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    object-fit: contain;
    background-color: #001139;
}

header .banner_x {
    float: right;
}

header .cgv_main {
    display: flex;
    justify-content: space-between;
    padding: 30px 6px 25px 5px;
    margin: 0 350px 0 350px;
}

header .cgv_main img {
    width: 117px;
    height: 53px;
}

header .cgv_main span {
    font-weight: 300;
    font-size: 13px;
    color: #222;
    letter-spacing: 0.313em;
}

header .sub_nav ul {
    display: flex;
}

header .sub_nav ul li {
    display: flex;
    flex-direction: column;

}

header .sub_nav ul li img {
    width: 36px;
    height: 36px;
}

header .sub_nav ul li span {
    font-size: 13px;
    color: #666;
}

header .main_nav_box {
    border-top: 1px solid rgb(219, 219, 219);
    display: flex;
    justify-content: space-between;
    padding: 0 380px 0 250px;
}

header .main_nav ul {
    margin: 0 86px 0 86px;
    display: flex;
}

header .main_nav ul li {
    margin: 10px;
    list-style: none;
}

header .main_nav a {
    text-decoration: none;
    color: #000;
}

header .search_icon {
    background: url(./img/search_icon.png);
    width: 20px;
    height: 20px;
}

/* main */

main {
    position: relative;
}

main .special_title {
    display: flex;
    justify-content: space-between;
    margin: 0 400px 0 380px;
}

main .special_title h3 {
    font-weight: 700;
    font-size: 26px;
}

main .special_title h6 {
    padding: 4px 32px 4px 15px;
    font-size: 14px;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    background: transparent url(https://img.cgv.co.kr/R2014/images/common/ico/arrowR_8x13.png) calc(100% - 7px) center/8px 13px scroll no-repeat;
}

main .special_img_text {
    display: flex;
    justify-content: center;
    
}

main .special_img{
    width: 500px;
    height: 264px;
}

main .special_text div {
    width: 365px;
    padding: 19px 25px 19px 19px;
    margin: 8px;
    border-top: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202);
}

main .special_text .suite_cinema, .cine_livingroom, .four_dx, .cine_de_chef {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 25px 19px 19px;
}

main .special_text span {
    padding: 2px 7px;
    font-size: 14px;
    color: #666;
    background-color: #f6f6f6;
    border-radius: 5px;
}

main .video_contents {
    margin: 0 auto;
    width: 1000px;
    margin-bottom: 30px;
}

main .video_contents_background {
    background-color: #000;
}

main .chart_btn {
    display: flex;
    justify-content: space-between;
    margin: 50px 380px 0 250px;
}

main .chart {
    display: flex;
}

main .chart h3 {
    font-size: 26px;
}

main .chart h3:first-child {
    padding-right: 30px;
    font-weight: 700;
}

main .chart h3:last-child {
    font-weight: 500;
    color: #666;
}