* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
}

.container {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

/* header */

header .banner_close {
    width: 100%;
    height: 80px;
    background-color: #001139;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
}

header .banner_img, .banner_x_img {
    position: absolute;
}

header .banner_x_img {
    display: flex;
    justify-content: right;
    padding: 8px;
}

header .cgv_main {
    display: flex;
    justify-content: space-between;
    padding: 30px 6px 25px 5px;
}

header .cgv_main img {
    width: 117px;
    height: 53px;
}

header .cgv_main h1 span {
    font-weight: 350;
    font-size: 16px;
    color: #222;
    letter-spacing: 0.313em;
}

header .sub_nav ul {
    display: flex;
}

header .sub_nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 44px;

}

header .sub_nav ul li img {
    width: 36px;
    height: 36px;
}

header .sub_nav ul li span {
    font-size: 13px;
    color: #666;
}

header .main_nav_box {
    border-top: 1px solid #eee;
    border-bottom: 2px solid #fb4357;
    height: 40px;
    box-sizing: border-box;
}

.main_nav_box .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

header .main_nav ul {
    display: flex;
}

header .main_nav ul li {
    margin: 10px;
    list-style: none;
    padding-right: 30px;
}

header .main_nav a {
    text-decoration: none;
    color: #000;
}

header .search {
    display: flex;
    align-items: center;
}

header .search:before {
    content: '⏐';
    /* transform: scale(1,1.7); */
    color: #cacaca;
}

header .search:after {
    content: '⏐';
    /* transform: scale(1,1.7); */
    color: #cacaca;
}

header .search_icon {
    font-size: 0;
    border: 0 none;
    background: url(https://img.cgv.co.kr/R2014/images/common/ico/search.png);
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
}

header .search_text {
    border: 0;
    width: 180px;
    height: 25px;
    padding-left: 7px;
    font-size: 17px;
}

/* main */

main {
    position: relative;
}

main .video_contents_background {
    position: relative;
     background-color: #000;
}

main .video_contents {
    margin-bottom: 30px;
}

main .video_wrap {
    overflow: hidden;
    position: relative;
}

main video {
    transform: scale(1.35);
}

main .video_wrap:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.25) 75%, #000 100%);
    z-index: 2;
}

main .video_contents strong {
    position: absolute;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    top: 170px;
    left: 0;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 72%);
    z-index: 2;
}

main .video_contents span {
    position: absolute;
    color: #fff;
    font-size: 20px;
    top: 239px;
    left: 0;
    line-height: 1.450em;
    z-index: 3;
}

main .video_controller_wrap {
    display: inline-flex;
    position: absolute;
    top: 315px;
    left: 3px;
    z-index: 4;
}

main .video_detailView_btn {
    padding: 5px 30px 5px 18px;
    font-size: 14px;
    color: #343434;
    line-height: 1.429em;
    background: rgba(255, 255, 255, 0.8) url(https://img.cgv.co.kr/R2014/images/common/ico/arrowR_8x13.png) calc(100% - 11px) center/8px 13px scroll no-repeat;
    border-radius: 15px;
}

main .video_play_btn{
    margin-left: 10px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: transparent url(https://img.cgv.co.kr/R2014/images/main/ico/pause.png) center/18px scroll no-repeat;
    border: 1px solid #979797;
    border-radius: 50%;
}

main .video_play_btn_active{
    margin-left: 10px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: transparent url(https://img.cgv.co.kr/R2014/images/main/ico/play.png) center/18px scroll no-repeat;
    border: 1px solid #979797;
    border-radius: 50%;
}

main .video_sound_btn{
    margin-left: 10px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: transparent url(https://img.cgv.co.kr/R2014/images/main/ico/soundOff.png) center/18px scroll no-repeat;
    border: 1px solid #979797;
    border-radius: 50%;
}

main .video_sound_btn_active{
    margin-left: 10px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: transparent url(https://img.cgv.co.kr/R2014/images/main/ico/soundOn.png) center/18px scroll no-repeat;
    border: 1px solid #979797;
    border-radius: 50%;
}

main .special_title {
    display: flex;
    justify-content: space-between;
}

main .special_title h3 {
    font-weight: 700;
    font-size: 26px;
}

main .special_title h6 {
    padding: 4px 32px 4px 15px;
    font-size: 14px;
    border: 1px solid #eee;
    border-radius: 15px;
    background: transparent url(https://img.cgv.co.kr/R2014/images/common/ico/arrowR_8x13.png) calc(100% - 7px) center/8px 13px scroll no-repeat;
}

main .special_img_text {
    display: flex;
    justify-content: space-between;
    
}

main .special_img{
    width: 500px;
    height: 264px;
}

main .special_text div {
    width: 365px;
    padding: 19px 25px 19px 19px;
    margin: 8px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

main .special_text .suite_cinema, .cine_livingroom, .four_dx, .cine_de_chef {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 25px 19px 19px;
}

main .special_text span {
    padding: 2px 7px;
    font-size: 14px;
    color: #666;
    background-color: #f6f6f6;
    border-radius: 5px;
}

main .chart_btn {
    display: flex;
    justify-content: space-between;
    margin: 50px 380px 0 250px;
}

main .chart {
    display: flex;
}

main .chart h3 {
    font-size: 26px;
}

main .chart h3:first-child {
    padding-right: 30px;
    font-weight: 700;
}

main .chart h3:last-child {
    font-weight: 500;
    color: #666;
}